$leather1: rgb(235, 195, 159);
$leather: rgb(201, 152, 107);
$leather2: rgb(70, 49, 29);
$warning: rgb(195, 86, 59);

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html, body, #render-target, .container {
    background-color: $leather;
}

.container {
    display: grid;
    grid-gap: 1rem;
}

header {
    background-color: $leather2;
    display: grid;
    justify-content: start;
    grid-gap: 1rem;
}

header h1 {
    margin: 1rem 1rem;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: $leather1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.nav-link {
    // background-color: blue;
    grid-column-start: 2;
    background-color: inherit;
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-gap: 1rem;
}

.nav-link button {
    width: 2rem;
    height: 2rem;
    border: 2px solid $leather1;
    border-radius: 8px;
    color: $leather1;
    background-color: inherit;
    grid-column-start: 1;
}

.nav-link button:hover {
    cursor: pointer;
}

#hidden-count {
    grid-column-start: 2;
    font-size: 1.5rem;
    color: $leather1;
    margin: auto 0;
}

ul {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
}

li {
    list-style: none;
    background-color: $leather1;
    padding: 1rem;
    font-family: sans-serif;
    display: grid;
    align-content: center;
}

.note-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: auto 0;
}

.note-extras {
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    justify-content: end;
    grid-gap: 1.5rem;
}

.date {
    grid-column-start: 3;
    grid-row-start: 1;
    font-style: italic;
    color: rgb(71, 71, 71);
    margin: auto 0;
}

.delete {
    grid-column-start: 5;
    grid-row-start: 1;
    background-color: $warning;
    border: none;
    width: 2rem;
    height: 2rem;
    margin: auto 0;
}

.delete:hover {
    cursor: pointer;
}

.hidden {
    // I don't know why I would want this, just go with it
    opacity: 0.3;
}

.hide {
    grid-column-start: 4;
    grid-row-start: 1;
    background-color: inherit;
    border: none;
    font-style: italic;
    font-weight: normal;
}

.hide:hover {
    cursor: pointer;
}

form {
    padding: 0 1rem;
}

form input {
    border: none;
    padding: 1rem;
    background-color: $leather1;
    font-style: italic;
    width: 60%;
}

