$leather1: rgb(235, 195, 159);
$leather: rgb(201, 152, 107);
$leather2: rgb(70, 49, 29);

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

html, body, #render-target, .container {
    background-color: $leather;
}

.container {
    display: grid;
    grid-gap: 1rem;
}

header {
    background-color: $leather2;
}

header h1 {
    margin: 1rem 1rem;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: $leather1;
}

ul {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
}

li {
    list-style: none;
    background-color: $leather1;
    padding: 1rem;
    font-family: sans-serif;
    display: grid;
}

.note-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.date {
    grid-column-start: 3;
    text-align: right;
    font-style: italic;
    color: rgb(71, 71, 71);
}

form {
    padding: 0 1rem;
}

form input {
    border: none;
    padding: 1rem;
    background-color: $leather1;
    font-style: italic;
    width: 60%;
}

